In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Mysqldrsl@91'
    )

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute('CREATE DATABASE mydatabase')

In [7]:
mycursor.execute('SHOW DATABASES')
for name in mycursor:
    print(name[0])

information_schema
mydatabase
mysql
performance_schema
sql_hr
sql_inventory
sql_invoicing
sql_store
sys